header {
	margin: 27px 0 105px 0;
	.header_block {
		border-radius: 5px;
		backdrop-filter: blur(177.8px);
		background: rgba(19, 31, 65, 0.51);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 5px 5px 48px;
	}

	.header_navs {
		gap: 60px;
		li a {
			color: rgb(212, 212, 212);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			transition: all ease-in 0.1s;
			&:hover,
			&.active {
				color: rgb(137, 154, 198);
			}
		}
	}
	.language {
		gap: 12px;
		span {
			color: rgb(241, 241, 241);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
	}
	.header_right {
		gap: 20px;
	}
	.header_buttons {
		gap: 7px;
	}
	.login {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0%;
		text-align: center;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		padding: 10px 0;
		width: 130px;
		text-align: center;
	}
	.market {
		color: rgb(5, 5, 5);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0%;
		text-align: center;
		padding: 10px 0;
		width: 130px;
		text-align: center;
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		background: rgb(247, 247, 247);
	}
}

// hands_block
.hands_block {
	.left_hand {
		position: absolute;
		top: 570px;
		left: -170px;
		transition: all 1000ms ease-in-out;
		&.active {
			left: -90px;
		}
	}
	.right_hand {
		position: absolute;
		top: 100px;
		right: -380px;
		transition: all 1000ms ease-in-out;
		&.active {
			right: -210px;
		}
	}
}

// hero
.hero {
	margin-bottom: 80px;
	.hero_title {
		font-size: 64px;
		font-weight: 600;
		line-height: 105%;
		text-align: center;
		color: #f7f7f7;
		max-width: 500px;
		margin: 0 auto 50px auto;
	}
	.hero_desc {
		color: rgba(255, 255, 255, 0.4);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 140%;
		text-align: center;
		max-width: 262px;
		margin: 0 auto 30px auto;
	}
	.hero_buttons {
		gap: 30px;
		justify-content: center;
		margin-bottom: 50px;
	}
	.hero_market {
		padding: 17px 15px;
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		background: linear-gradient(
			91.68deg,
			rgb(44, 159, 219) 25.94%,
			rgb(87, 77, 206) 94.317%
		);
	}
	.hero_join {
		padding: 17px 30px;
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		text-align: center;
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		border: 1px solid #2c9fdb;
	}
	.core_img {
		img {
			transition: transform 1000ms ease-in-out;
			&:hover {
				cursor: pointer;
				transform: rotate(70deg) scale(1.25);
			}
		}
	}
}

// video
.video {
	margin-bottom: 100px;
	.video_block {
		text-align: center;
	}
	.video_title {
		color: rgb(255, 255, 255);
		font-size: 48px;
		font-weight: 500;
		line-height: 72px;
		text-align: center;
		margin-bottom: 50px;
	}
}

// trading
.trading {
	margin-bottom: 100px;
	.trading_block {
		gap: 150px;
		justify-content: space-between;
	}
	.trading_left {
		flex: 0 0 auto;
		width: 49%;
	}
	.moment {
		padding: 10px 30px;
		color: rgb(255, 255, 255);
		font-family: "Mulish";
		font-size: 20px;
		font-weight: 500;
		line-height: 25px;
		text-align: center;
		border-radius: 10px;
		background: rgba(45, 45, 45, 0.8);
		margin-bottom: 35px;
	}
	.trading_left_title {
		margin-bottom: 25px;
		font-size: 50px;
		font-weight: 500;
		line-height: 115%;
		color: #ffffff;
	}
	.trading_left_desc {
		color: rgba(255, 255, 255, 0.4);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 500;
		line-height: 140%;
		margin-bottom: 40px;
	}
	.trading_left_btn {
		width: 230px;
		gap: 15px;
		border-radius: 5px;
		background: linear-gradient(
			91.68deg,
			rgb(44, 159, 219) 25.904%,
			rgb(87, 77, 206) 94.337%
		);
		color: rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		padding: 20px 0;
	}
	.trading_right {
		gap: 25px;
	}
	.trading_right_item {
		padding: 10px;
		border-radius: 20px;
		display: flex;
		gap: 20px;
		align-items: center;
		&.active {
			background: linear-gradient(
				155.13deg,
				rgb(255 255 255 / 37%) -198.639%,
				rgb(29 25 38) 57.856%
			);
		}
	}
	.icon {
		width: 64px;
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		flex: 0 0 auto;
		background: rgba(9, 151, 124, 0.1);
	}

	.right_name {
		color: rgb(255, 255, 255);
		font-size: 20px;
		font-weight: 600;
		line-height: 130%;
		margin-bottom: 10px;
	}
	.right_desc {
		color: rgba(255, 255, 255, 0.4);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 140%;
	}
}

// profit
.profit {
	margin-bottom: 90px;
	.profit_block {
		gap: 60px;
	}
	.profit_calculator {
		flex: 0 0 auto;
		width: 46%;
		border-radius: 5px;
		backdrop-filter: blur(177.8px);
		padding: 20px;
		background: rgba(26, 29, 37, 0.31);
	}
	.profit_title {
		font-size: 48px;
		font-weight: 500;
		line-height: 115%;
		margin-bottom: 25px;
		max-width: 530px;
		color: #fff;
	}
	.prof_desc {
		color: rgba(255, 255, 255, 0.4);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 50px;
	}
	.calc_top {
		margin-bottom: 30px;
	}
	.ton_block {
		span {
			color: rgb(137, 155, 199);
			font-size: 18px;
			font-weight: 600;
			line-height: 27px;
			text-align: center;
		}
	}
	.calc {
		padding: 10px 0px;
		color: rgb(255, 255, 255);
		font-size: 14px;
		font-weight: 400;
		line-height: 21px;
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		text-align: center;
		border: 1px solid #2c9fdb;
		width: 88px;
	}
	.date {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
	}
	.profit_form {
		gap: 15px;
		margin-bottom: 35px;
	}
	.input_item {
		border-radius: 5px;
		padding: 15px;
		background: rgb(26, 30, 43);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.input_block {
		flex: 1;
		label {
			display: flex;
			flex-direction: column;
			gap: 5px;
			span {
				color: rgb(137, 155, 199);
				font-size: 14px;
				font-weight: 600;
			}
			input {
				width: 100%;
				background-color: transparent;
				border: none;
				height: 20px;
				border: none;
				outline: none;
				color: #fff;
				font-weight: 600;
				&::placeholder {
					color: #fff;
					font-weight: 600;
				}
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
				}
			}
		}
	}
	.calc_bottom {
		button {
			padding: 17px 15px;
			color: rgb(255, 255, 255);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			text-align: center;
			border-radius: 5px;
			backdrop-filter: blur(74.6px);
			background: linear-gradient(
				91.68deg,
				rgb(44, 159, 219) 25.965%,
				rgb(87, 77, 206) 94.303%
			);
		}
		p {
			color: rgb(137, 155, 199);
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			letter-spacing: 0%;
			text-transform: uppercase;
		}
	}
	.pay_block {
		border-radius: 9.12px;
		box-shadow: inset -0.24px -0.24px 0.36px 0px rgba(0, 0, 0, 0.36);
		backdrop-filter: blur(30.4px);
		background: linear-gradient(
			121.52deg,
			rgb(255, 255, 255) -242.371%,
			rgb(20, 16, 29) 85.51%
		);
		padding: 25px 20px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 335px;
		transform: rotate(-4deg);
	}
	.pay_title {
		color: rgb(255, 255, 255);
		font-size: 22px;
		font-weight: 600;
		line-height: 22px;
		margin-bottom: 30px;
	}
	.pay_wrapper {
		gap: 20px;
	}
	.block_item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 8px;
	}
	.types_block {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	.type_img {
		width: 40px;
		img {
			width: 100%;
		}
	}
	.count_pay {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 0%;
		text-align: left;
	}
	.name_pay {
		color: rgba(255, 255, 255, 0.7);
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
	}
	.types_money {
		display: flex;
		align-items: center;
		gap: 5px;
		span {
			color: rgb(255, 255, 255);
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
		}
	}
	.method_block {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
		padding: 25px 25px 35px 25px;
		border-radius: 20px;
		transform: rotate(4deg);
		backdrop-filter: blur(10px);
		background: linear-gradient(
			149.31deg,
			rgb(255, 255, 255) -239.362%,
			rgb(20, 16, 29) 66.064%
		);
	}
	.method_name {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 600;
		line-height: 160%;
		margin-bottom: 13px;
	}
	.method_images {
		display: flex;
		gap: 10px;
		.img_item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 10px;
			background: rgb(255, 255, 255);
		}
	}
}

// referal
.referal {
	margin-bottom: 100px;
	.referal_title {
		color: rgb(255, 255, 255);
		font-size: 48px;
		font-weight: 500;
		line-height: 72px;
		text-align: center;
		margin-bottom: 70px;
	}
	.referal_item {
		flex: 0 0 auto;
		width: calc(33.33% - 30px);
		border-radius: 10px;

		background: linear-gradient(
				121.52deg,
				rgb(255, 255, 255) -251.33%,
				rgb(20, 16, 29) 88.437%
			),
			rgb(30, 30, 30);
		padding: 30px 15px;
	}
	.referal_level {
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	.ref_count {
		font-family: "Mulish";
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		color: #fff;
	}
	.ref_percent {
		background: linear-gradient(91.68deg, rgb(44, 159, 219), rgb(87, 77, 206));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		font-family: "Mulish";
		font-size: 24px;
		font-weight: 500;
		line-height: 140%;
		letter-spacing: 0%;
		text-align: left;
	}
	.ref_desc {
		color: rgba(255, 255, 255, 0.4);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 40px;
	}
	.ref_btn {
		padding: 15px;
		gap: 15px;
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		text-align: center;
		border-radius: 5px;
		backdrop-filter: blur(74.6px);
		background: linear-gradient(
			91.68deg,
			rgb(44, 159, 219) 25.932%,
			rgb(87, 77, 206) 94.321%
		);
	}
	.diff_block {
		border-radius: 10px;
		position: absolute;
		width: 100%;
		background: linear-gradient(
			91.68deg,
			rgb(44, 159, 219) 26.304%,
			rgb(87, 77, 206) 94.119%
		);
		padding: 40px 15px;
		transform: rotate(-7deg);
		top: 3px;
		left: 7px;
		.ref_percent {
			color: #fff;
			background: unset;
			-webkit-text-fill-color: unset;
		}
		.ref_desc {
			color: #fff;
		}
		.ref_btn {
			backdrop-filter: blur(74.6px);
			background: rgb(30, 30, 30);
		}
	}
}

// partners
.partners {
	margin-bottom: 100px;
	.partner_block {
		gap: 35px 40px;
		justify-content: space-between;
	}
	.partner_item {
		gap: 15px;
		align-items: center;
	}
	.partner_name {
		color: rgb(66, 65, 71);
		font-size: 32.81px;
		font-weight: 600;
		line-height: 160%;
		text-align: center;
	}
}

// faq
.faq {
	margin-bottom: 100px;
	.faq_title {
		color: rgb(255, 255, 255);
		font-size: 48px;
		font-weight: 500;
		line-height: 115%;
		text-align: center;
		margin-bottom: 50px;
	}
	.faq_block {
		gap: 25px;
		max-width: 960px;
		margin: 0 auto;
	}
	.faq_item {
		padding: 25px;
		box-sizing: border-box;
		border: 2px solid rgb(59, 57, 80);
		border-radius: 15px;
		background: linear-gradient(
			121.52deg,
			rgba(255, 255, 255, 0.2) -274.318%,
			rgba(20, 16, 29, 0.2) 95.946%
		);
	}
	.faq_body {
		display: none;
		p {
			color: rgba(255, 255, 255, 0.4);
			font-family: "Mulish";
			font-size: 18px;
			font-weight: 400;
			line-height: 140%;
			margin-top: 20px;
		}
	}
	.faq_name {
		color: rgb(255, 255, 255);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 115%;
	}
	.faq_head {
		cursor: pointer;
	}
	.faq_icon {
		transition: all ease-in 0.2s;
		&.active {
			transform: rotate(-90deg);
		}
	}
}

// footer

.footer {
	padding: 40px;
	border-radius: 30px;
	background: linear-gradient(
		121.52deg,
		rgba(255, 255, 255, 0.2) -271.724%,
		rgba(20, 16, 29, 0.2) 95.099%
	);

	.footer_desc {
		color: rgba(255, 255, 255, 0.7);
		font-family: "Mulish";
		font-size: 18px;
		font-weight: 400;
		line-height: 140%;
		margin-top: 20px;
		max-width: 300px;
	}
	.footer_top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-bottom: 75px;
		border-bottom: 1px solid rgb(63, 62, 69);
		margin-bottom: 30px;
	}
	.footer_top_name {
		color: rgb(255, 255, 255);
		font-family: "Poppins";
		font-size: 18px;
		font-weight: 500;
		text-align: start;
		line-height: 150%;
		margin-bottom: 20px;
	}
	.footer_nav {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.nav_item {
		text-align: left;
	}
	.nav_item a {
		color: rgba(255, 255, 255, 0.7);
		font-family: "Poppins";
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;
	}
	.footer_bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.footer_bottom_left {
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.copyright {
		color: rgba(255, 255, 255, 0.6);
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
		text-align: center;
		margin: 0;
		padding-bottom: 2px;
	}
	.footer_bottom_left img {
		padding-right: 15px;
	}
	.gate {
		color: rgba(255, 255, 255, 0.6);
		font-size: 18px;
		font-weight: 400;
		line-height: 150%;
		text-align: center;
	}
	.footer_socials {
		display: flex;
		align-items: center;
		gap: 30px;
	}
	.footer_socials img {
		max-width: 24px;
	}
}
