.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0;
}
@media (max-width: 1720px) {
	.hands_block .left_hand {
		top: 725px;
		img {
			width: 600px;
		}
	}
	.hands_block .right_hand {
		top: 200px;
		right: -300px;
		img {
			width: 700px;
		}
	}
}
@media (max-width: 1400px) {
	.container {
		max-width: 1140px;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
}
@media (max-width: 576px) {
	.container {
		max-width: 100%;
	}
}
