html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blue {
  background-image: linear-gradient(to right, rgb(42, 171, 238), rgb(87, 77, 206));
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.logo_name {
  background: linear-gradient(91.68deg, rgb(44, 159, 219), rgb(87, 77, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/background.svg);
}

.wrapper {
  overflow: hidden;
  position: relative;
}

header {
  margin: 27px 0 105px 0;
}
header .header_block {
  border-radius: 5px;
  -webkit-backdrop-filter: blur(177.8px);
          backdrop-filter: blur(177.8px);
  background: rgba(19, 31, 65, 0.51);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 48px;
}
header .header_navs {
  gap: 60px;
}
header .header_navs li a {
  color: rgb(212, 212, 212);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: all ease-in 0.1s;
}
header .header_navs li a:hover, header .header_navs li a.active {
  color: rgb(137, 154, 198);
}
header .language {
  gap: 12px;
}
header .language span {
  color: rgb(241, 241, 241);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
header .header_right {
  gap: 20px;
}
header .header_buttons {
  gap: 7px;
}
header .login {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  padding: 10px 0;
  width: 130px;
  text-align: center;
  transition: all ease-in 0.1s;
}
header .login:hover {
  background: #fff;
  color: #000;
}
header .market {
  color: rgb(5, 5, 5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding: 10px 0;
  width: 130px;
  text-align: center;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  background: rgb(247, 247, 247);
}

.hands_block .left_hand {
  position: absolute;
  top: 570px;
  left: -170px;
  transition: all 1000ms ease-in-out;
}
.hands_block .left_hand.active {
  left: -90px;
}
.hands_block .right_hand {
  position: absolute;
  top: 100px;
  right: -380px;
  transition: all 1000ms ease-in-out;
}
.hands_block .right_hand.active {
  right: -210px;
}

.hero {
  margin-bottom: 80px;
}
.hero .hero_title {
  font-size: 64px;
  font-weight: 600;
  line-height: 105%;
  text-align: center;
  color: #f7f7f7;
  max-width: 500px;
  margin: 0 auto 50px auto;
}
.hero .hero_desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  max-width: 262px;
  margin: 0 auto 30px auto;
}
.hero .hero_buttons {
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}
.hero .hero_market {
  padding: 17px 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  background: linear-gradient(91.68deg, rgb(44, 159, 219) 25.94%, rgb(87, 77, 206) 94.317%);
  transition: all ease-in 0.3s;
}
.hero .hero_market:hover {
  background: linear-gradient(91.68deg, rgb(17, 99, 142) 25.94%, rgb(16, 0, 203) 94.317%);
}
.hero .hero_join {
  padding: 17px 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  border: 1px solid #2c9fdb;
  transition: all ease-in 0.2s;
}
.hero .hero_join:hover {
  background: #2c9fdb;
  color: #fff;
}
.hero .core_img img {
  transition: transform 1000ms ease-in-out;
}
.hero .core_img img:hover {
  cursor: pointer;
  transform: rotate(70deg) scale(1.25);
}

.video {
  margin-bottom: 100px;
}
.video .video_block {
  text-align: center;
}
.video .video_title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  margin-bottom: 50px;
}

.trading {
  margin-bottom: 100px;
}
.trading .trading_block {
  gap: 150px;
  justify-content: space-between;
}
.trading .trading_left {
  flex: 0 0 auto;
  width: 49%;
}
.trading .moment {
  padding: 10px 30px;
  color: rgb(255, 255, 255);
  font-family: "Mulish";
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  border-radius: 10px;
  background: rgba(45, 45, 45, 0.8);
  margin-bottom: 35px;
}
.trading .trading_left_title {
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: 500;
  line-height: 115%;
  color: #ffffff;
}
.trading .trading_left_desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 40px;
}
.trading .trading_left_btn {
  width: 230px;
  gap: 15px;
  border-radius: 5px;
  background: linear-gradient(91.68deg, rgb(44, 159, 219) 25.904%, rgb(87, 77, 206) 94.337%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  padding: 20px 0;
  transition: all ease-in 0.1s;
}
.trading .trading_left_btn:hover {
  background: linear-gradient(91.68deg, rgb(17, 99, 142) 25.94%, rgb(16, 0, 203) 94.317%);
}
.trading .trading_right {
  gap: 25px;
}
.trading .trading_right_item {
  padding: 10px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.trading .trading_right_item.active {
  background: linear-gradient(155.13deg, rgba(255, 255, 255, 0.37) -198.639%, rgb(29, 25, 38) 57.856%);
}
.trading .icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: 0 0 auto;
  background: rgba(9, 151, 124, 0.1);
}
.trading .right_name {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}
.trading .right_desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.profit {
  margin-bottom: 90px;
}
.profit .profit_block {
  gap: 60px;
}
.profit .profit_calculator {
  flex: 0 0 auto;
  width: 46%;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(177.8px);
          backdrop-filter: blur(177.8px);
  padding: 20px;
  background: rgba(26, 29, 37, 0.31);
}
.profit .profit_title {
  font-size: 48px;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 25px;
  max-width: 530px;
  color: #fff;
}
.profit .prof_desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 50px;
}
.profit .calc_top {
  margin-bottom: 30px;
}
.profit .ton_block span {
  color: rgb(137, 155, 199);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}
.profit .calc {
  padding: 10px 0px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  text-align: center;
  border: 1px solid #2c9fdb;
  width: 88px;
}
.profit .date {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.profit .profit_form {
  gap: 15px;
  margin-bottom: 35px;
}
.profit .input_item {
  border-radius: 5px;
  padding: 15px;
  background: rgb(26, 30, 43);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profit .input_block {
  flex: 1;
}
.profit .input_block label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profit .input_block label span {
  color: rgb(137, 155, 199);
  font-size: 14px;
  font-weight: 600;
}
.profit .input_block label input {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 20px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 600;
}
.profit .input_block label input::-moz-placeholder {
  color: #fff;
  font-weight: 600;
}
.profit .input_block label input::placeholder {
  color: #fff;
  font-weight: 600;
}
.profit .input_block label input::-webkit-outer-spin-button, .profit .input_block label input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.profit .calc_bottom button {
  padding: 17px 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  background: linear-gradient(91.68deg, rgb(44, 159, 219) 25.965%, rgb(87, 77, 206) 94.303%);
  transition: all ease-in 0.1s;
}
.profit .calc_bottom button:hover {
  background: linear-gradient(91.68deg, rgb(17, 99, 142) 25.94%, rgb(16, 0, 203) 94.317%);
}
.profit .calc_bottom p {
  color: rgb(137, 155, 199);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.profit .pay_block {
  border-radius: 9.12px;
  box-shadow: inset -0.24px -0.24px 0.36px 0px rgba(0, 0, 0, 0.36);
  -webkit-backdrop-filter: blur(30.4px);
          backdrop-filter: blur(30.4px);
  background: linear-gradient(121.52deg, rgb(255, 255, 255) -242.371%, rgb(20, 16, 29) 85.51%);
  padding: 25px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 335px;
  transform: rotate(-4deg);
}
.profit .pay_title {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 30px;
}
.profit .pay_wrapper {
  gap: 20px;
}
.profit .block_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.profit .types_block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.profit .type_img {
  width: 40px;
}
.profit .type_img img {
  width: 100%;
}
.profit .count_pay {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.profit .name_pay {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}
.profit .types_money {
  display: flex;
  align-items: center;
  gap: 5px;
}
.profit .types_money span {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.profit .method_block {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 25px 25px 35px 25px;
  border-radius: 20px;
  transform: rotate(6deg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: linear-gradient(149.31deg, rgb(255, 255, 255) -239.362%, rgb(20, 16, 29) 66.064%);
}
.profit .method_name {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 13px;
}
.profit .method_images {
  display: flex;
  gap: 7px;
}
.profit .left_icon {
  position: absolute;
  top: 40px;
  left: -75px;
}
.profit .right_icon {
  position: absolute;
  bottom: 40px;
  right: -75px;
}

.referal {
  margin-bottom: 100px;
}
.referal .referal_title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  text-align: center;
  margin-bottom: 70px;
}
.referal .referal_item {
  flex: 0 0 auto;
  width: calc(33.33% - 30px);
  border-radius: 10px;
  background: linear-gradient(121.52deg, rgb(255, 255, 255) -251.33%, rgb(20, 16, 29) 88.437%), rgb(30, 30, 30);
  padding: 30px 15px;
}
.referal .referal_level {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.referal .ref_count {
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
}
.referal .ref_percent {
  background: linear-gradient(91.68deg, rgb(44, 159, 219), rgb(87, 77, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.referal .ref_desc {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
}
.referal .ref_btn {
  padding: 15px;
  gap: 15px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  background: linear-gradient(91.68deg, rgb(44, 159, 219) 25.932%, rgb(87, 77, 206) 94.321%);
  transition: all ease-in 0.1s;
}
.referal .ref_btn:hover {
  background: linear-gradient(91.68deg, rgb(17, 99, 142) 25.94%, rgb(16, 0, 203) 94.317%);
}
.referal .diff_block {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  background: linear-gradient(91.68deg, rgb(44, 159, 219) 26.304%, rgb(87, 77, 206) 94.119%);
  padding: 40px 15px;
  transform: rotate(-7deg);
  top: 3px;
  left: 7px;
}
.referal .diff_block .ref_percent {
  color: #fff;
  background: unset;
  -webkit-text-fill-color: unset;
}
.referal .diff_block .ref_desc {
  color: #fff;
}
.referal .diff_block .ref_btn {
  -webkit-backdrop-filter: blur(74.6px);
          backdrop-filter: blur(74.6px);
  background: rgb(30, 30, 30);
}

.partners {
  margin-bottom: 100px;
}
.partners .partner_block {
  gap: 35px 40px;
  justify-content: space-between;
}
.partners .partner_item {
  gap: 15px;
  align-items: center;
}
.partners .partner_name {
  color: rgb(66, 65, 71);
  font-size: 32.81px;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
}

.faq {
  margin-bottom: 100px;
}
.faq .faq_title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 115%;
  text-align: center;
  margin-bottom: 50px;
}
.faq .faq_block {
  gap: 25px;
  max-width: 960px;
  margin: 0 auto;
}
.faq .faq_item {
  padding: 25px;
  box-sizing: border-box;
  border: 2px solid rgb(59, 57, 80);
  border-radius: 15px;
  background: linear-gradient(121.52deg, rgba(255, 255, 255, 0.2) -274.318%, rgba(20, 16, 29, 0.2) 95.946%);
}
.faq .faq_body {
  display: none;
}
.faq .faq_body p {
  color: rgba(255, 255, 255, 0.4);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 20px;
}
.faq .faq_name {
  color: rgb(255, 255, 255);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
}
.faq .faq_head {
  cursor: pointer;
}
.faq .faq_icon {
  transition: all ease-in 0.2s;
}
.faq .faq_icon.active {
  transform: rotate(-90deg);
}

.footer {
  padding: 40px;
  border-radius: 30px;
  background: linear-gradient(121.52deg, rgba(255, 255, 255, 0.2) -271.724%, rgba(20, 16, 29, 0.2) 95.099%);
}
.footer .footer_desc {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Mulish";
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-top: 20px;
  max-width: 300px;
}
.footer .footer_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 1px solid rgb(63, 62, 69);
  margin-bottom: 30px;
}
.footer .footer_top_name {
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  text-align: start;
  line-height: 150%;
  margin-bottom: 20px;
}
.footer .footer_nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .nav_item {
  text-align: left;
}
.footer .nav_item a {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .footer_bottom_left {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding-bottom: 2px;
}
.footer .footer_bottom_left img {
  padding-right: 15px;
}
.footer .gate {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.footer .footer_socials {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer .footer_socials img {
  max-width: 24px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1720px) {
  .hands_block .left_hand {
    top: 725px;
  }
  .hands_block .left_hand img {
    width: 600px;
  }
  .hands_block .right_hand {
    top: 200px;
    right: -300px;
  }
  .hands_block .right_hand img {
    width: 700px;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  .hands_block .left_hand {
    top: 725px;
    left: -150px;
  }
  .hands_block .left_hand.active {
    left: -70px;
  }
  .hands_block .left_hand img {
    width: 400px;
  }
  .hands_block .right_hand {
    right: -200px;
  }
  .hands_block .right_hand img {
    width: 500px;
  }
  .hands_block .right_hand.active {
    right: -150px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  body {
    background-size: cover;
  }
  .hero .hero_title {
    font-size: 48px;
    margin: 0 auto 25px auto;
  }
  .profit .profit_calculator {
    width: 100%;
  }
  .profit .profit_block {
    flex-direction: column-reverse;
  }
  .profit_payment {
    width: 68%;
    margin: 0 auto;
  }
  .profit {
    margin-bottom: 50px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .footer {
    padding: 20px;
  }
  .footer .footer_desc {
    max-width: 230px;
  }
  .partners .partner_name {
    font-size: 25px;
  }
  .partners .partner_block {
    gap: 30px 35px;
    justify-content: center;
  }
  .video .video_block iframe {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .referal_block {
    flex-wrap: wrap;
    gap: 35px 0;
    flex-direction: column;
    align-items: center;
  }
  .referal .referal_item {
    width: 60%;
    min-height: 260px;
  }
  .profit_payment {
    width: 87%;
  }
  .trading .trading_block {
    gap: 30px;
  }
  header .header_navs {
    gap: 15px;
  }
  .video .video_title {
    margin-bottom: 30px;
  }
  .hero .core_img img {
    width: 200px;
  }
  header .market {
    width: 80px;
    padding: 6px 0;
  }
  header .login {
    width: 80px;
    padding: 6px 0;
  }
  .hands_block .left_hand {
    top: 600px;
    left: -100px;
  }
  .hands_block .left_hand.active {
    left: -70px;
  }
  .hands_block .left_hand img {
    width: 300px;
  }
  .hands_block .right_hand {
    top: 360px;
    right: -100px;
  }
  .hands_block .right_hand img {
    width: 300px;
  }
  .hands_block .right_hand.active {
    right: -70px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .profit .right_icon {
    right: 0;
  }
  .profit .left_icon {
    top: 20px;
    left: 0;
  }
  .mobile_block {
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 5;
    box-shadow: 6.9px 7.67px 48.29px 0px rgba(0, 0, 0, 0.24);
    background: linear-gradient(153.92deg, rgba(255, 255, 255, 0) -380.161%, rgb(20, 16, 29) 97.32%), rgb(46, 46, 72);
    height: 100vh;
    width: 50%;
    padding: 25px;
    transition: all ease-in 0.2s;
  }
  .mobile_block.active {
    right: 0;
  }
  .mobile_block .logo_name {
    background: linear-gradient(91.68deg, rgb(44, 159, 219), rgb(87, 77, 206));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 18.5px;
    font-weight: 800;
    line-height: 28px;
  }
  .mobile_block .mobile_top {
    margin-bottom: 55px;
  }
  .mobile_block .mobile_navigation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: end;
  }
  .mobile_block .mobile_navigation li {
    width: 100%;
  }
  .mobile_block .mobile_navigation li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(137, 155, 199);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    justify-content: end;
  }
  .mobile_block .mobile_navigation li a.active {
    color: rgb(255, 255, 255);
    position: relative;
  }
  .mobile_block .mobile_navigation li a.active::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #2c9fdb;
  }
  .partners .partner_block {
    gap: 30px 25px;
  }
  .footer .footer_top {
    padding-bottom: 35px;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .trading,
  .partners,
  .faq {
    margin-bottom: 70px;
  }
  .profit_payment {
    width: 100%;
  }
  .header_navs {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 0;
    right: -100%;
    z-index: 4;
    width: 50%;
    padding-top: 100px;
    height: 100vh;
    z-index: 4;
    background-color: #614848;
  }
  .trading .trading_left {
    width: 100%;
  }
  .trading .trading_block {
    flex-wrap: wrap;
    gap: 40px;
  }
  .video {
    margin-bottom: 70px;
  }
  .video .video_title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 25px;
  }
  .payment_circle img {
    width: 100%;
  }
  .mobile_block {
    width: 100%;
  }
  .footer .footer_top {
    gap: 30px 0;
  }
  .footer .footer_item {
    width: 100%;
  }
  .referal {
    margin-bottom: 70px;
  }
  .footer .copyright,
  .footer .gate {
    font-size: 16px;
  }
  .footer {
    padding: 20px 0;
  }
  .footer .footer_bottom_left img {
    display: none;
  }
  .footer .footer_bottom {
    flex-wrap: wrap;
    gap: 25px 0;
    justify-content: space-between;
  }
  .video .video_block iframe {
    height: 180px;
  }
  .video .video_title {
    line-height: 38px;
    font-size: 34px;
  }
  .footer .footer_bottom_left {
    justify-content: space-between;
  }
  .footer_bottom_right,
  .footer .footer_bottom_left {
    width: 100%;
  }
  .footer .footer_socials {
    justify-content: end;
  }
  .partners .partner_block {
    gap: 20px 30px;
  }
  .partners .partner_name {
    font-size: 21px;
  }
  .partner_img img {
    max-width: 33px;
  }
  .partners .partner_item {
    gap: 10px;
  }
  .faq .faq_title {
    font-size: 35px;
    margin-bottom: 35px;
    text-align: left;
  }
  header {
    margin: 40px 0 75px 0;
  }
  header .header_block {
    padding: 10px;
    -webkit-backdrop-filter: blur(177.8px);
            backdrop-filter: blur(177.8px);
    background: rgba(26, 29, 37, 0.51);
  }
  header .header_right {
    gap: 25px;
  }
  .faq .faq_block {
    gap: 20px;
  }
  .faq .faq_body p {
    margin-top: 10px;
  }
  .referal .referal_title {
    font-size: 35px;
    margin-bottom: 35px;
  }
  .profit .profit_title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .referal .referal_item {
    width: 100%;
    min-height: 230px;
  }
  .referal .diff_block {
    padding: 27px 15px;
  }
  .profit .prof_desc {
    font-size: 16px;
  }
  .profit .method_name {
    font-size: 11px;
  }
  .profit .method_block {
    padding: 15px 20px 20px 15px;
  }
  .profit .method_images .img_item {
    width: 31.38px;
    height: 31.43px;
  }
  .profit .method_images .img_item img {
    max-width: 19px;
  }
  .profit .pay_title {
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin-bottom: 20px;
  }
  .profit .count_pay {
    font-size: 10.46px;
    line-height: 14.38px;
  }
  .profit .name_pay {
    font-size: 7.84px;
  }
  .profit .type_img img,
  .profit .type_img {
    width: 30px;
  }
  .profit .types_money span {
    font-size: 9.15px;
  }
  .payment_circle {
    max-width: 500px;
  }
  .profit .pay_block {
    padding: 15px;
  }
  .trading .moment {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  .trading .trading_left_title {
    font-size: 35px;
    margin-bottom: 25px;
  }
  .trading .trading_left_desc {
    font-size: 16px;
    margin-bottom: 0px;
  }
  .trading .right_name {
    font-size: 18px;
  }
  .trading .right_desc {
    font-size: 16px;
  }
  .profit .calc {
    padding: 8px 0px;
    font-size: 10px;
    line-height: 15px;
    border-radius: 7.37px;
    width: 60px;
  }
  .language img {
    width: 35px;
  }
  .profit .profit_form {
    gap: 10px;
    margin-bottom: 25px;
  }
  .profit .calc_bottom button {
    padding: 6px 17px;
  }
  .profit .calc_bottom p {
    font-size: 10px;
  }
  .hero .hero_title {
    font-size: 35px;
    max-width: 304px;
    margin: 0 auto 25px auto;
  }
  .hero .hero_desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .profit .calc_top {
    margin-bottom: 20px;
  }
  .hero .hero_buttons {
    margin-bottom: 130px;
  }
  .hands_block .left_hand {
    top: 700px;
    left: -50px;
  }
  .hands_block .left_hand.active {
    left: -25px;
  }
  .hands_block .left_hand img {
    width: 200px;
  }
  .hero {
    margin-bottom: 110px;
  }
  .hands_block .right_hand {
    top: 470px;
    right: -50px;
  }
  .hands_block .right_hand img {
    width: 200px;
  }
  .hands_block .right_hand.active {
    right: -10px;
  }
  .hero .core_img img {
    width: 130px;
  }
}